.navbar-expand-lg .navbar-collapse {
    justify-content: flex-start;
}
.nav-link {
    font-size: 15px;
}
.nav-item {
    padding-left: 15px;
}

.navbar-brand {
    font-size: 20px !important;
    padding-left: 20px;
}

@media only screen and (min-width: 961px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-start;
    }
    .nav-link {
        font-size: 20px;
    }
    .nav-item {
        padding-left: 20px;
    }
    .navbar-brand {
        font-size: 30px !important;
        padding-left: 40px;
    }
}

.bg-dark {
    background-color: #2eb96d !important;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30px; /* Set the fixed height of the footer here */
    line-height: 30px; /* Vertically center the text there */
    background-color: #2eb96d;
}

.footer-link {
    color: white !important;
}

/* img {
    width: 100%;
}

.image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.image-overlay {
    position: relative;
    text-align: center;
    color: white;
}

.text-overlay {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    font-size: 40px;
}

.bg-dark {
    background-color: #079fa7 !important;
  }

@media only screen and (min-width: 768px) {
    .text-overlay {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%);
        font-size: 2vw;
    }
}

html {
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
}

body {
    margin-bottom: 40px !important;
    background-color: #fff;
}

p {
    font-size: 25px;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30px; 
    line-height: 30px; 
    background-color: #079fa7;
}

.footer-link {
    color: white !important;
}

.review {
    border: #079fa7 solid 1px;
    width: 100%;
    padding: 20px;
}

.review-text {
    font-size: 20px;
}
  
*,
*:before,
*:after {
  box-sizing: inherit;
}


.masonry {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    column-gap: 1em;
}

.item {
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}


@media only screen and (min-width: 1024px) {
    .masonry {
        column-count: 4;
    }
}


@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry {
        column-count: 3;
    }
}


@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 2;
  }
} */

  